<!DOCTYPE html>
<html>
	<head>
		<%- include common/head.html %>
	</head>
	<body>
		<%- include common/top.html %>
		<div class='container'>
			<div class="panel panel-default">
				<div class="panel-heading"><%=__('edit')%> <%=__('timeline')%></div>
				<div class="panel-body" style='padding:15px;'>
					<div class='list-group timeline'>
					</div>
				</div>
				<div class="panel-footer">
					<button></button>
				</div>
			</div>
		</div>
		<%- include ../common/footer.html%>
		<script type="text/javascript">
			var timeline_data = JSON.parse(<%- JSON.stringify(timeline_list) %>);
		</script>
		<script type="text/javascript" src='/resources/javascripts/admin/timeline.js'></script>
	</body>
</html>