.post-list .panel-body{
	padding: 15px;
}
.post-block .panel-body h3{
	color: #bd0006;
	margin-top: 10px;
	line-height: 1.5;
}
.post-block .panel-body h6{
	margin-top: 15px;
	color: #999;
}