<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src='//cdn.staticfile.org/underscore.js/1.6.0/underscore-min.js'></script>
<script type="text/javascript" src='//cdn.staticfile.org/jquery/1.11.0/jquery.min.js'></script>
<script type="text/javascript" src='//cdn.staticfile.org/jquery-cookie/1.4.0/jquery.cookie.min.js'></script>
<script type="text/javascript" src='//cdn.staticfile.org/jquery-i18n/1.1.1/jquery.i18n.min.js'></script>
<script type="text/javascript" src='//cdn.staticfile.org/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js'></script>
<script type="text/javascript" src='//cdn.staticfile.org/twitter-bootstrap/3.1.0/js/bootstrap.min.js' ></script>
<script type="text/javascript" src='/resources/javascripts/busy.js'></script>
<script type="text/javascript" src='/resources/javascripts/modal.js'></script>
<script type="text/javascript" src='/resources/javascripts/global.js'></script>