<script>
(function(i, s, o, g, r, a, m) {
	i['GoogleAnalyticsObject'] = r;
	i[r] = i[r] || function() {
		(i[r].q = i[r].q || []).push(arguments)
	}, i[r].l = 1 * new Date();
	a = s.createElement(o),
	m = s.getElementsByTagName(o)[0];
	a.async = 1;
	a.src = g;
	m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-35990626-2', 'manunited7.com');
ga('send', 'pageview');
</script>
<div class="header navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<img src="/resources/images/680_normal.png" class="logo">
		<a href="/" class='logo'><%=brand %></a>
	</div>
	<div class="collapse navbar-collapse" id="navBar">
		<ul class="nav navbar-nav">
			<li><a href="/posts"><%=__("news")%></a></li>
			<!-- <li><a href="/says"><%=__("whatTheySay")%></a></li> -->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=__('weixinhao')%><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="javascript:void(0);" class='clean_link'>ManUnited7</li>
					<li><a href="javascript:void(0);" class='clean_link'><img src='/resources/images/getqrcode.jpg' class='weixin_logo'/></a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="javascript:void(0);" class="i18n en">English</a></li>
			<li><a href="javascript:void(0);" class="i18n zh">中文</a></li>
			<% if(locals.session.user_id) {%>
				<li><a href='/profile'><%= locals.session.user_name%></a></li>
				<li><a href='/logout' class='logout glyphicon glyphicon-off'></a></li>
			<%} else {%>
				<li><a href='/login'><%=__("signIn")%></a></li>
			<%}%>
		</ul>
	</div>
</div>