<!DOCTYPE html>
<html <%- include common/xmlns_wb.html %>>
	<head>
		<%- include common/head.html %>
	</head>
	<body>
		<%- include common/top.html %>
		<div class='content'>
			<!-- <ol class="breadcrumb">
				<li><a href="/"><%=__('home')%></a></li>
				<li><a href="/posts"><%=__('articleList')%></a></li>
				<li class="active"><%=post.title%></li>
			</ol> -->
			<div class="post-block panel panel-default">
				<div class="panel-body">
					<h3><%=post.title%></h3>
					<h6><%=moment(post.create_at).format(timeFormat1)%></h6>
					<div class='post-content'><%-post.content%></div>
				</div>
			</div>
		</div>
	</body>
</html>