<!DOCTYPE html>
<html <%- include common/xmlns_wb.html %>>
	<head>
		<%- include common/head.html %>
		<link rel='stylesheet' href='/resources/stylesheets/timeline.css' />
	</head>
	<body>
		<%- include common/top.html %>
		<div class='container'>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="page-header">
						<h1 id="timeline" class='united_red'>This is Manchester United</h1>
						<a href='javascript:void(0);' class='sort_timeline'><%=__('sortByYear')%><span class=' glyphicon glyphicon-chevron-up'></span></a>
					</div>
					<ul class="timeline" >
					</ul>	
				</div>
			</div>
		</div>
		<%- include ../common/footer.html%>
		<script type="text/javascript" src='/resources/javascripts/timeline.js' charset="utf-8"></script>
	</body>
</html>